<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>render file node js to html</p>
    <p>kjadsjflkdf</p>
    <p>name : <%=name%>
    </p>
    <p>usia : <%=usia%>
    </p>
    <% for(let i=0; i < buah.length;i++){ %>
        <p>
            <%=buah[i].nama %>
        </p>
        <%}%>

</body>

</html>